.recoil-button-disabled button {
    background-color: #9B9B9B;
    color: #ccc !important;
    cursor: not-allowed;
    text-shadow: none;
}

.recoil-button-confirm {
    position: fixed;
    border: 2px solid lightblue;
    border-radius: 100%;
}
