div.recoil-password-strength {
    position:relative;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ebebeb),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#ebebeb,0%,#f5f5f5,100%);
    background-image: -moz-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',endColorstr='#fff5f5f5',GradientType=0);
    border-radius: 4px;
    border: 2px ridge;
}

div.recoil-password-strength span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
	     
}

.recoil-password-strength.very-weak {
    border-color: #dd0000;
}

.recoil-password-strength.very-weak div {
    background-color: #dd0000;
}

.recoil-password-strength.weak div {
    background-color: #bb0000;
}

.recoil-password-strength.weak {
    border-color: #bb0000;
}

.recoil-password-strength.good div {
    background-color: #f0ad4e;
}

.recoil-password-strength.good {
    border-color: #f0ad4e;
}

.recoil-password-strength.strong div {
    background-color: #5cb85c;
}

.recoil-password-strength.strong {
    border-color: #5cb85c;
}

.recoil-password-strength.very-strong div {
    background-color: #5bc0de;
}
.recoil-password-strength.very-strong {
    border-color: #5bc0de;
}

div.recoil-password-strength div{
    background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255,255,255,0.15)),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255,255,255,0.15)),color-stop(0.75,rgba(255,255,255,0.15)),color-stop(0.75,transparent),to(transparent));
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-repeat: repeat-x;
    background-size: 40px 40px;
    
}





